//- Contact Secction
section.presentation.contact-pres#sectionContact
	div.center-content.text-center
		div.col-md-8.col-md-offset-2 
			h2 Contact Me
			form(method="post", data-toggle="validator", role="form", action="/")
				div.col-md-4
					div.form-group
						input.form-control.input-lg#user-name(type="text", placeholder="Enter Name",
								name="user_name",
								maxlength="30",
								pattern="^[A-Za-z ]*$",
								required="required")
				div.col-md-4
					div.form-group
						input.form-control.input-lg#user-email(type="email", placeholder="Email",
								name="user_email",
								maxlength="30",
								data-toggle="tooltip",
								title="E.g. user@gmail.com",
								data-placement="bottom",
								required="required")
				div.col-md-4
					div.form-group
						input.form-control.input-lg#user-phone(type="tel", placeholder="Phone Number",
								name="user_phone",
								maxlength="10",
								data-toggle="tooltip",
								title="Only Numbers, 10 Digits",
								pattern="^[0-9]{10}$")
				div.col-md-6.col-md-offset-3
					div.form-group
						h2 Brief Description
						textarea.form-control#user-desc(rows="6", name="user_desc",
								maxlength="300")
						span.comment-prompt No more than 300 Characters
				div.col-md-4.clear-top
					div.icon-images
						h3 Submit Info
						input.mail(type="submit" value="")
			div.col-md-4.clear-top
				div.icon-images
					h3 Connect With Me
					img.contact-icon#connect(src="/images/contact/connect.svg")
					div.col-xs-12.testing
						div.col-xs-3
							a(href="https://github.com/victor-basurto")
								img.social-media-icon.no-show#git-hub(src="/images/contact/social-media/github-icon.png")
						div.col-xs-3
							a(href="https://www.linkedin.com/in/victorBasurto")
								img.social-media-icon.no-show#linked-in(src="/images/contact/social-media/linkedin.png")
						div.col-xs-3
							a(href="https://plus.google.com/u/0/+VicBA")
								img.social-media-icon.no-show#google-plus(src="/images/contact/social-media/googleplus-icon.png")
						div.col-xs-3
							a(href="https://twitter.com/DroidVic")
								img.social-media-icon.no-show#twitter(src="/images/contact/social-media/twitter.png")
			div.col-md-4.clear-top
				div.icon-images
					h3 Download Resume
					a(href="/resume/VictorResume2015.pdf" download="VictorResume2015")
						img.contact-icon#pdf(src="/images/contact/pdf.svg")